.heder__container {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.header__logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 24px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--brend-color);
    text-decoration: none;
    margin-right: 87px;

    @media (min-width: 1200px) {
        font-size: 26px;
        margin-right: 93px;
    }

}

/* Цвет половины логотипа */
.header__color {
    color: var(--main-text-color);
}

/* Навигация */

.menu__list {
    display: flex;
    gap: 50px;
}

.mobile-menu__nav-link {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #212121;
    margin-top: 48px;
    margin-bottom: 302px;
    text-decoration: none;
}
.menu__item {
    position: relative;
    display: block;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--main-text-color);
    padding: 32px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);


    &:hover,
    &:focus {
        color: var(--brend-color);
    }


    &--current {
        color: var(--brend-color);


        &::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            display: block;
            width: 100%;
            height: 4px;
            background-color: var(--brend-color);
            border-radius: 2px;

            @media (max-width: 767px) {
                display: none;
            }
        }
    }
}

.header__auth {
    display: flex;
    margin-left: auto;
    gap: 50px;

    @media (max-width:767px) {
        display: none;
    }

    @media (min-width:768px) and (max-width: 1199px) {
        gap: 8px;
        flex-direction: column;
    }

    &-link {
        display: flex;
        align-items: center;
        padding: 31px 0;
        gap: 10px;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-decoration: none;
        color: var(--second-text-color);
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        @media (min-width:768px) and (max-width: 1200px) {
            padding: 0;
        }

        &:hover,
        &:focus {
            color: var(--brend-color);
        }
    }
}


.header__icon-color {
    fill: currentColor;
}

.header {
    border-bottom: 1px solid var(--header-bottom-line);
}



// Мобильное меню
.header-menu__open {
    margin: 10px 0;
    padding: 0;
    background-color: transparent;
    border: none;
    
    @media (min-width: 768px) {
        display: none;
    }
}
.descktop-menu {
    display: none;

    @media (min-width: 768px) {
        display: flex;
    }
}

.mobile-menu-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04),
        0px 2px 4px rgba(0, 0, 0, 0.08),
        0px 1px 3px rgba(0, 0, 0, 0.16);;
    z-index: 5;
    transform: translateX(100%);
    transition: transform 100ms linear;
    padding: 48px 40px;
}
.mobile-menu-container.is-open{
    transform: translateX(0);

    @media (min-width: 768px) {
        display: none;
    }
}

.mobile-menu__close{
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: transparent;
    border: none;
}

.mobile-menu__close-icon:hover{
    fill: var(--brend-color);
}

.mobile-menu__nav-item:not(:last-child){
    margin-bottom: 32px;
}

.mobile-menu__auth{
    margin: 302px 0 64px;
}

.mobile-menu__auth-link{
    font-weight: 500;
    font-size: 34px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--brend-color);
    text-decoration: none;
}

.mobile-menu__auth-link--style{
    font-weight: 500;
    font-size: 24px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--second-text-color);
}
.mobile-menu__auth-item{
    padding-bottom: 32px;
}

.mobile-menu_sotial{
    display: flex;
    justify-content: flex-start;
}

.mobile-menu_sotial-item {
    border-right: 1px solid rgba(33, 33, 33, 0.2);;
    padding-right: 10px;
    margin-right: 10px;
}



.mobile-menu__social-link{
    font-weight: 500;
    font-size: 18px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--brend-color);
    text-decoration: none;
}

