html {
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
    color: var(--main-text-color)
}

// Размеры и центрирование контейнеров
.container {
    width: 1200px;
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
}
// Одинаковые паддинги у секций
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

img {
    display: block;
}
// Убираем автоточки в списках
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}