:root {
    --brend-color: #2196F3;
    --white: #fff;
    --hero-background: #C4C4C4;
    --main-text-color: #212121;
    --second-text-color: #757575;
    --color-text-footer: rgba(255, 255, 255, 0.6);
    --footer-color: #2F303A;
    --second-background: #F5F4FA;
    --header-bottom-line: #ececec;
    --cards-border: #EEEEEE;
    --icon-color: #AFB1B8;
}

